atomicwrites==1.4.0
attrs==21.2.0
brickschema==0.3.0a4
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
colorama==0.4.4
Flask==1.1.4
googleapis-common-protos==1.53.0
greenlet==1.1.0
idna==2.10
iniconfig==1.1.1
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==2.0.1
numpy==1.21.0
owlrl==5.2.1
packaging==21.0
pandas==1.2.5
pluggy==0.13.1
protobuf==3.17.3
py==1.10.0
pyarrow==3.0.0
pymortar==2.0.3a4
pyparsing==2.4.7
pyshacl==0.14.4
pytest==6.2.4
python-dateutil==2.8.1
python-snappy==0.6.0
pytz==2021.1
rdflib==5.0.0
rdflib-jsonld==0.5.0
requests==2.25.1
six==1.16.0
SQLAlchemy==1.4.20
toml==0.10.2
urllib3==1.26.6
Werkzeug==1.0.1
wincertstore==0.2
